/* 
    General Styles
*/
a{
   text-decoration: none;
}

body{
    background-color: black;
    color: white;
    margin: 0 7% 0 7%;
}
nav{
   border-radius: 5px;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
}
h1{
    width: 100%;
   
}
.btn-add{
    width: 50%;
   text-align: right;

}

button{
    border: none;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(153, 238, 238);
}
button:hover{
border: solid 1px;

}
.contactStyle{

    width: 60%;
    border: solid 1px gray;
    border-radius: 5px;
    margin: 5px;
}
.fotoContact{
width: 200px;
height: 200px;
border: solid 2px;
border-radius: 50%;
margin: 20px;
    
}
.formStyle{
    margin: 10px;
    text-align: center;
}
input{
    width: 45%;
}
.iconDelete{
    text-align: right;

}
.bodyContacts{
 margin-left: 5%;
 width: 100%;
 
}